{% extends 'base.html.twig' %}

{% block body %}

    <div class="tab-content">
        <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
            <div class="main-card mb-3 card">
                <div class="card-body"><h5 class="card-title">Profil</h5>
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Pseudo</th>
                            <td>{{ participant.pseudo }}</td>
                        </tr>
                        <tr>
                            <th>Nom</th>
                            <td>{{ participant.nom }}</td>
                        </tr>
                        <tr>
                            <th>Prénom</th>
                            <td>{{ participant.prenom }}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{ participant.mail }}</td>
                        </tr>
                        <tr>
                            <th>Téléphone</th>
                            <td>{{ participant.telephone }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% if participant == participantConnecte %}
        <a href="{{ path('participant_edit', {'id': participant.id}) }}"><button type="button">Modifier</button></a>
    {% endif %}

{% endblock %}