{% extends 'base.html.twig' %}

{% block title %}Hello SortiesController!{% endblock %}

{% block body %}
       <style>
           .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
           .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
       </style>

       <div class="example-wrapper">

              {{ form_start(form) }}
                     {{ form_row(form.campus) }}
                     {{ form_row(form.texte) }}
                     {{ form_row(form.sortiesOrganisees) }}
                     {{ form_row(form.sortiesInscrit) }}
                     {{ form_row(form.sortiesNonInscrit) }}
                     {{ form_row(form.sortiesPassees) }}
                     <button type="submit">Rechercher</button>
              {{ form_end(form) }}
          {% for sortie in sorties %}
              <a href="{{ path('sortie_show', {'id': sortie.id}) }}"><h2>{{ sortie.nom }}</h2></a>
              <p>{{ sortie.duree }} heures</p>
              <p>{{ sortie.nbInscriptionsMax }} participants maximum</p>
          {% endfor %}

       </div>
{% endblock %}
