{% extends 'base.html.twig' %}

{% block title %}Créer une sortie{% endblock %}

{% block body %}
       <style>
           .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
           .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
       </style>

       <div class="example-wrapper">
              <h1>Créer une sortie</h1>

              {{ form_start(form) }}
              {{ form_row(form.nom) }}
              {{ form_row(form.dateDebut) }}
              {{ form_row(form.dateCloture) }}
              {{ form_row(form.duree) }}
              {{ form_row(form.nbInscriptionsMax) }}
              {{ form_row(form.infosSortie) }}

              <br>

              Sortie organisée par le campus de {{ app.user.campus.nom }} <br><br>

                     <button type="submit">Ajouter</button>
              {{ form_end(form) }}

       </div>
{% endblock %}
