{% extends 'base.html.twig' %}

{% block title %}Hello SortiesController!{% endblock %}

{% block body %}
    <h2>{{ sortie.nom }}</h2>
    <p><a href="{{ path('participant_show', {'id': sortie.organisateur.id}) }}">{{ sortie.organisateur.pseudo }}</a></p>
    <p>{{ sortie.duree }} heures</p>
    <p>{{ sortie.nbInscriptionsMax }} participants maximum</p>
    <p>{{ sortie.etat.libelle }}</p>

    {% if inscription %}
        <a href="{{ path('sortie_inscription', {'id': sortie.id }) }}">Inscription</a>
    {% else %}
        <p>Vous ne pouvez pas vous inscrire à cette activité</p>
    {% endif %}

    <h2>Inscrits</h2>
    <ul>
        {% for participant in sortie.participants %}

            <li>

                <a href="{{ path('participant_show', {'id': participant.id}) }}">{{ participant.pseudo }}</a>

                {% if desistement and participant == utilisateur %}
                    <a href="{{ path('sortie_desistement', {'id': sortie.id}) }}">Se désinscrire</a>
                {% endif %}

            </li>

        {% endfor %}
    </ul>

{% endblock %}